<!DOCTYPE html> 
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Migrate</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="js/migrate.js"></script>
</head>
<body>
  <button id="start">Start Migration</button>
  <button id="detect-version-errors">Detect Version Errors</button>
  <button id="fix-version-errors">Fix Version Errors</button>
  <div>
	<p>Diffing: {{ diffing }}</p>
	<p>Checking: {{ checking }}</p>
	<p>Correct: {{ correct }}</p>
	<p>Failed: {{ failed }}</p>
    <p>Error Messages</p>
    {% for error in errors %}
    <p>{{ error.resource_id }} {{ error.message}}</p>
    {% endfor %}
    <p>Version Errors: {{ num_version_errors }}</p>
    {% for error in version_errors %}
    <p>{{ error.resource_id }} Version: {{ error.message}}</p>
    {% endfor %}
  </div>
  <button id="delete">DELETE</button>
</body>
</html>
