{% extends 'admin/master.html' %}

{% block head %}
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="js/google-stats.js"></script>
{% endblock %}

{% block body %}
  <div id="content">
	<p>Number of users: {{ users }}</p>
	<p>Number of scripts: {{ scripts }}</p>
	<p>Average: <span id='average'></span></p>
	<script>
	  document.getElementById('average').innerHTML={{ scripts }}/{{ users }}
	</script>
	<div id='usersChart'></div>
	<p>Cumulative growth of users</p>
	<div id='growthChart'></div>
  </div>
{% endblock %}

